<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landia</title>
    <link rel="icon" type="image/x-icon" href="/assets/imgs/heart.png">
    <!-- google -->
    <meta itemprop="name" content="LandiaVerse">
    <meta itemprop="image" content="./assets/imgs/heart.png">
    <!-- fb -->
    <meta property="og:type" content="Website">
    <meta property="og:title" content="LandiaVerse">
    <meta property="og:image" content="./assets/imgs/heart.png">

    <link rel="stylesheet" href="./styles/reset.css">
</head>
<body>
    
    <script> 
        world = '<%-locals.world%>'
    </script>
    <script src="./assets/js/three.js"></script>
    <script src="./assets/js/OrbitControls.js"></script>
    <!-- <script src="./assets/js/FlyControls.js"></script> -->
    <!-- <script src="./assets/js/FirstPersonControls.js"></script> -->

    <script src="./main/classes/MatStore.js"></script>
    <script src="./main/classes/block.js"></script>
    <script src="./main/classes/floor.js"></script>
    <script src="./main/classes/area.js"></script>
    <script src="./main/app.js"></script>
    <script src="./main/index.js"></script>
</body>
</html>